<bottom-footer class="{{ _view.classes }}bottom-footer bottom-footer--object-id--{{ _view.object_id }}">
    <div class="bottom-footer__inner">
        All rights reserved &copy; {{ "now"|date("Y") }}
    </div>
</bottom-footer>