<cookie-consent class="{{ _view.classes }}cookie-consent cookie-consent--object-id--{{ _view.object_id }}">

    <p class="cookie-consent__text">
        <span>We use cookies on this site, to give you a better experience.</span>
        <a class="cookie-consent__more-link" target="_blank" href="#">Privacy policy</a>
    </p>
    
    <button class="cookie-consent__button">Got it</button>

    <svg viewBox="0 0 19 19" class="cookie-consent__close" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.728 9.72803C18.728 4.76003 14.696 0.728027 9.72803 0.728027C4.76003 0.728027 0.728027 4.76003 0.728027 9.72803C0.728027 14.696 4.76003 18.728 9.72803 18.728C14.696 18.728 18.728 14.696 18.728 9.72803ZM2.52803 9.72803C2.52803 5.75003 5.75003 2.52803 9.72803 2.52803C13.706 2.52803 16.928 5.75003 16.928 9.72803C16.928 13.706 13.706 16.928 9.72803 16.928C5.75003 16.928 2.52803 13.706 2.52803 9.72803Z"></path>
        <path d="M7.45516 13.5161L9.728 11.2433L12.0008 13.5161C12.2797 13.795 12.7321 13.795 13.011 13.5161L13.5161 13.011C13.795 12.7321 13.795 12.2798 13.5161 12.0009L11.2432 9.72803L13.5161 7.45518C13.795 7.17629 13.795 6.72393 13.5161 6.44503L13.011 5.93995C12.7321 5.66106 12.2797 5.66106 12.0008 5.93995L9.728 8.2128L7.45516 5.93995C7.17626 5.66106 6.72391 5.66106 6.44501 5.93996L5.93993 6.44503C5.66104 6.72393 5.66103 7.17629 5.93993 7.45518L8.21278 9.72803L5.93993 12.0009C5.66103 12.2798 5.66104 12.7321 5.93993 13.011L6.44501 13.5161C6.7239 13.795 7.17626 13.795 7.45516 13.5161Z"></path>
    </svg>

</cookie-consent>
